Repository mta-slipe/Slipe-Server, pull requests merged in 2021-08, with the labels that each got.

#175 setGlitchEnabled
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/Rpc/World/SetGlitchEnabledPacket.cs
  SlipeServer.Server/Enums/GlitchType.cs
  SlipeServer.Server/Services/GameWorld.cs
Labels: enhancement, Packet

#173 Change exceptions in packets, from NotImplemented to NotSupported
  SlipeServer.Packets/Definitions/Commands/ChatEchoPacket.cs
  SlipeServer.Packets/Definitions/Commands/CommandPacket.cs
  SlipeServer.Packets/Definitions/Commands/ConsoleEchoPacket.cs
  SlipeServer.Packets/Definitions/Entities/AddEntityPacket.cs
  SlipeServer.Packets/Definitions/Entities/RemoveEntityPacket.cs
  SlipeServer.Packets/Definitions/Join/JoinCompletePacket.cs
  SlipeServer.Packets/Definitions/Join/ModNamePacket.cs
  SlipeServer.Packets/Definitions/Join/NoSocketPacket.cs
  SlipeServer.Packets/Definitions/Join/PlayerListPacket.cs
  SlipeServer.Packets/Definitions/Join/PlayerTimeoutPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementAlphaRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementDimensionRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementHealthRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementInteriorRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementModelRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementPositionRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetObjectRotationRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetPedArmourRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetPedRotationRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetVehicleRotationRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/DebugEchoPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/ForcePlayerMapPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/HudComponentVisiblePacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/PlaySoundPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/SetFPSLimitPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/SetWantedLevelPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/ToggleAllControlsPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/ToggleDebuggerPacket.cs
  SlipeServer.Packets/Definitions/Player/ChangeNicknamePacket.cs
  SlipeServer.Packets/Definitions/Player/PlayerACInfoPacket.cs
  SlipeServer.Packets/Definitions/Player/PlayerDiagnosticPacket.cs
  SlipeServer.Packets/Definitions/Player/PlayerModInfoPacket.cs
  SlipeServer.Packets/Definitions/Player/PlayerScreenshotPacket.cs
  SlipeServer.Packets/Definitions/Player/ServerInfoSyncPacket.cs
  SlipeServer.Packets/Definitions/Player/TakePlayerScreenshotPacket.cs
  SlipeServer.Packets/Definitions/Rpc/RpcPacket.cs
  SlipeServer.Packets/Definitions/Sync/PlayerDisconnectPacket.cs
  SlipeServer.Packets/Definitions/Sync/UpdateInfoPacket.cs
  SlipeServer.Packets/Definitions/TextItems/TextItemPacket.cs
Labels: Packet, Refactor

#174 Utility definitions
  SlipeServer.Console/SlipeServer.Console.csproj
  SlipeServer.Console/test.lua
  SlipeServer.Lua/LuaTranslator.cs
  SlipeServer.Scripting/Definitions/UtilityScriptDefinitions.cs
Labels: enhancement, Scripting

#167 CollisionCircle radius property
  SlipeServer.Console/Resources/TestResource/test.lua
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/CollisionShape/SetCollisionShapeRadiusRpcPacket.cs
  SlipeServer.Server/Behaviour/CollisionShapeBehaviour.cs
  SlipeServer.Server/Elements/ColShapes/CollisionCircle.cs
  SlipeServer.Server/PacketHandling/Factories/CollisionShapePacketFactory.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
Labels: enhancement, Packet

#179 RadarArea Size, Color, IsFlashing property
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/RadarArea/SetRadarAreaColorPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/RadarArea/SetRadarAreaFlashingPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/RadarArea/SetRadarAreaSizePacket.cs
  SlipeServer.Server/Behaviour/RadarAreaBehaviour.cs
  SlipeServer.Server/Elements/RadarArea.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
Labels: enhancement, Packet

#180 PlayerNetworkStatusPacket
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Player/PlayerNetworkStatusPacket.cs
  SlipeServer.Packets/Enums/PlayerNetworkStatusType.cs
  SlipeServer.Server/Elements/Events/PlayerNetworkStatusArgs.cs
  SlipeServer.Server/Elements/Player.cs
  SlipeServer.Server/PacketHandling/QueueHandlers/PlayerEventQueueHandler.cs
Labels: enhancement, Packet

#183 Blips
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Blips/SetBlipColorRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Blips/SetBlipIconRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Blips/SetBlipOrderingRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Blips/SetBlipSizeRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Blips/SetBlipVisibleDistanceRpcPacket.cs
  SlipeServer.Server/Behaviour/BlipBehaviour.cs
  SlipeServer.Server/Elements/Blip.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
Labels: enhancement, Packet

#181 Add removing/assining team to player class
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetPlayerTeamRpcPacket.cs
  SlipeServer.Packets/Enums/RpcFunctions.cs
  SlipeServer.Server/Behaviour/TeamBehaviour.cs
  SlipeServer.Server/Elements/Events/PlayerTeamChangedArgs.cs
  SlipeServer.Server/Elements/Player.cs
  SlipeServer.Server/Elements/Team.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
Labels: enhancement

#184 add missing height to CollisionPolygon creation
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Entities/AddEntityPacket.cs
  SlipeServer.Server/Elements/ColShapes/CollisionPolygon.cs
  SlipeServer.Server/PacketHandling/Builders/AddEntityPacketBuilder.cs
Labels: bug

#196 ExplosionScriptDefinitions
  SlipeServer.Console/test.lua
  SlipeServer.Scripting/Definitions/ExplosionScriptDefinitions.cs
Labels: enhancement, Scripting

#192 Lua scripting some improvments
  SlipeServer.Console/LuaDefinitions/CustomMathDefinition.cs
  SlipeServer.Console/LuaTestLogic.cs
  SlipeServer.Console/test.lua
  SlipeServer.Lua/LuaService.cs
Labels: enhancement, Refactor, Scripting

#193 Model property
  SlipeServer.Console/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementModelRpcPacket.cs
  SlipeServer.Server/Behaviour/ObjectPacketBehaviour.cs
  SlipeServer.Server/Behaviour/VehicleBehaviour.cs
  SlipeServer.Server/Elements/Vehicle.cs
  SlipeServer.Server/Elements/WorldObject.cs
  SlipeServer.Server/PacketHandling/Factories/VehiclePacketFactory.cs
  SlipeServer.Server/PacketHandling/Factories/WorldObjectPacketFactory.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
Labels: enhancement, Packet

#199 RadarArea script definitions
  SlipeServer.Console/test.lua
  SlipeServer.Lua/LuaTranslator.cs
  SlipeServer.Scripting/Definitions/RadarAreaScriptDefinitions.cs
  SlipeServer.Server/Elements/RadarArea.cs
Labels: enhancement, Scripting

#227 Handle Player_target
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Server/Elements/Ped.cs
  SlipeServer.Server/PacketHandling/Handlers/Rpc/RpcPacketHandler.cs
Labels: Packet
