Repository mta-slipe/Slipe-Server, pull requests merged in 2022-03, with the labels that each got.

#253 Camera setMatrix fix
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Server/ElementConcepts/Camera.cs
Labels: bug

#258 Fighting style
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Ped/SetPedFightingStyleRpcPacket.cs
  SlipeServer.Server/Behaviour/PedPacketBehaviour.cs
  SlipeServer.Server/Elements/Enums/FightingStyle.cs
  SlipeServer.Server/Elements/Ped.cs
Labels: enhancement, Packet

#255 SET_PLAYER_MONEY packet
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/SetMoneyPacket.cs
  SlipeServer.Server/Behaviour/PlayerPacketBehaviour.cs
  SlipeServer.Server/Elements/Events/PlayerMoneyChangedEventArgs.cs
  SlipeServer.Server/Elements/Player.cs
  SlipeServer.Server/PacketHandling/Factories/PlayerPacketFactory.cs
Labels: enhancement, Packet

#229 Implement peds clothing
  SlipeServer.Console/Logic/PhysicsTestLogic.cs
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Entities/Structs/PedClothing.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Ped/AddPedClothingRpcPacket.cs
  SlipeServer.Server.Tests/Unit/Player/ClothingTests.cs
  SlipeServer.Server/Behaviour/PedPacketBehaviour.cs
  SlipeServer.Server/Constants/ClothesConstants.cs
  SlipeServer.Server/ElementConcepts/Clothing.cs
  SlipeServer.Server/Elements/Events/ClothingChangedEventArgs.cs
  SlipeServer.Server/Elements/Ped.cs
  SlipeServer.Server/Enums/ClothingType.cs
  SlipeServer.Server/PacketHandling/Builders/AddEntityPacketBuilder.cs
  SlipeServer.Server/PacketHandling/Factories/PedPacketFactory.cs
Labels: enhancement, Packet, More accurate tests needed

#304 SET_TRANSFER_BOX_VISIBILITY packet
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Player/SetTransferBoxVisiblePacket.cs
  SlipeServer.Server/Elements/Player.cs
  SlipeServer.Server/PacketHandling/Factories/PlayerPacketFactory.cs
Labels: Packet

#306 SET_ELEMENT_FROZEN packet
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementFrozenRpcPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/ElementRpcFunction.cs
  SlipeServer.Server/Behaviour/ElementPacketBehaviour.cs
  SlipeServer.Server/Elements/Element.cs
  SlipeServer.Server/PacketHandling/Factories/ElementPacketFactory.cs
Labels: Packet

#308 SET_VEHICLE_HEADLIGHT_COLOR packet
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Vehicle/SetVehicleHeadlightColorRpcPacket.cs
  SlipeServer.Server/Behaviour/VehicleBehaviour.cs
  SlipeServer.Server/Elements/Vehicle.cs
  SlipeServer.Server/PacketHandling/Factories/VehiclePacketFactory.cs
Labels: Packet

#275 Implement custom data
  SlipeServer.Console/Logic/ServerTestLogic.cs
  SlipeServer.Console/Program.cs
  SlipeServer.Packets/Definitions/CustomElementData/CustomDataPacket.cs
  SlipeServer.Packets/Definitions/Lua/ElementRpc/Element/SetElementDataRpcPacket.cs
  SlipeServer.Server/Behaviour/CustomDataBehaviour.cs
  SlipeServer.Server/ElementConcepts/ElementData.cs
  SlipeServer.Server/Elements/Element.cs
  SlipeServer.Server/Elements/Enums/DataSyncType.cs
  SlipeServer.Server/Elements/Events/ElementDataChangedArgs.cs
  SlipeServer.Server/Elements/Ped.cs
  SlipeServer.Server/Elements/Vehicle.cs
  SlipeServer.Server/Elements/WorldObject.cs
  SlipeServer.Server/PacketHandling/Factories/PedPacketFactory.cs
  SlipeServer.Server/PacketHandling/Handlers/CustomData/CustomDataPacketHandler.cs
  SlipeServer.Server/ServerOptions/DefaultServerBuilderExtensions.cs
  SlipeServer.Server/ServerOptions/ServerBuilderOptions.cs
Labels: enhancement, help wanted, Packet
